#### import libraries

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#### import dataset

In [4]:
insurance_df = pd.read_csv('insurance.csv')
insurance_df.head(1) #visualize 1st row 
insurance_df.tail(5) #visualize last 5 rows

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

# data analysis

##### check if there are null variables

#### method 1:

In [5]:
sns.heatmap(insurance_df.isnull(), yticklabels= False, cbar = False, cmap="Blues")

#### method 2:

In [6]:
insurance_df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
df_region = insurance_df.groupby(by='region').mean()
df_region

                 age        bmi  children       charges
region
northeast  39.268519  29.173503  1.046296  13406.384516
northwest  39.196923  29.199785  1.147692  12417.575374
southeast  38.939560  33.355989  1.049451  14735.411438
southwest  39.455385  30.596615  1.141538  12346.937377

In [8]:
df_age = insurance_df.groupby(by='age').mean()
df_age

           bmi  children       charges
age
18   31.326159  0.449275   7086.217556
19   28.596912  0.426471   9747.909335
20   30.632759  0.862069  10159.697736
21   28.185714  0.785714   4730.464330
22   31.087679  0.714286  10012.932802
23   31.454464  1.000000  12419.820040
24   29.142679  0.464286  10648.015962
25   29.693929  1.285714   9838.365311
26   29.428929  1.071429   6133.825309
27   29.333571  0.964286  12184.701721
28   29.482143  1.285714   9069.187564
29   29.383148  1.259259  10430.158727
30   30.557593  1.555556  12719.110358
31   29.918333  1.407407  10196.980573
32   31.597692  1.269231   9220.300291
33   31.163077  1.538462  12351.532987
34   30.274038  1.153846  11613.528121
35   31.394800  1.680000  11307.182031
36   29.374200  1.240000  12204.476138
37   31.216600  1.520000  18019.911877
38   28.996600  1.480000   8102.733674
39   29.910200  2.200000  11778.242945
40   30.139074  1.592593  11772.251310
41   31.506852  1.407407   9653.745650
42   30.328148  1.000000  13061.038669
43   30.204444  1.629630  19267.278653
44   30.844259  1.222222  15859.396587
45   29.778966  1.482759  14830.199856
46   31.340862  1.620690  14342.590639
47   30.664310  1.379310  17653.999593
48   31.925690  1.310345  14632.500445
49   30.313929  1.500000  12696.006264
50   31.132241  1.310345  15663.003301
51   31.727069  1.103448  15682.255867
52   32.936034  1.482759  18256.269719
53   30.360893  1.250000  16020.930755
54   31.234286  1.428571  18758.546475
55   31.950000  0.961538  16164.545488
56   31.600962  0.769231  15025.515837
57   30.844423  0.615385  16447.185250
58   32.718200  0.240000  13878.928112
59   30.572000  1.200000  18895.869532
60   30.332826  0.347826  21979.418507
61   32.548261  0.739130  22024.457609
62   32.342609  0.565217  19163.856573
63   31.923478  0.565217  19884.998461
64   32.976136  0.772727  23275.530837

#### transform categorical values into numeric values

#### 1) for smokers

In [11]:
insurance_df['smoker'].unique() # look for unique values in smoker column

array(['yes', 'no'], dtype=object)

In [12]:
insurance_df['smoker']= insurance_df['smoker'].apply(lambda x: 0 if x=='no' else 1)
insurance_df.head(1)

   age     sex   bmi  children  smoker     region    charges
0   19  female  27.9         0       1  southwest  16884.924

#### 2) for sex

In [14]:
insurance_df['sex'].unique()

array(['female', 'male'], dtype=object)

In [15]:
insurance_df['sex']= insurance_df['sex'].apply(lambda x: 0 if x=='female' else 1)
insurance_df.head(1)

   age  sex   bmi  children  smoker     region    charges
0   19    0  27.9         0       1  southwest  16884.924

#### 3) for regions:

In [18]:
region_dummies = pd.get_dummies(insurance_df['region'], drop_first=True)

KeyError: 'region'

In [19]:
insurance_df= pd.concat([insurance_df,region_dummies],axis=1)
insurance_df.head(1)

,age,sex,bmi,children,smoker,charges,northwest,southeast,southwest
0,19,0,27.9,0,1,16884.924,0,0,1

In [21]:
insurance_df.drop(['region'],axis=1, inplace=True)
insurance_df.head(1)

,age,sex,bmi,children,smoker,charges,northwest,southeast,southwest
0,19,0,27.9,0,1,16884.924,0,0,1

# data visualization

# create training and testing datasets

# train model

### 1. train model locally

### 2. train linear learner model on sagemaker